{% extends 'base.html.twig' %}


{% block body %}

    {% if posts is empty %}
    {% else %}

            <div class="container w-100">
                <h1 class="text-center mt-4">Toutes les offres</h1>

                <div class="row justify-content-around flex-wrap overflow-auto">

                    {% for post in posts %}
                        <div class="card text-center w-25 mt-4 p-0">
                            <div class="card-body">
                                <h5 class="card-title">{{ post.title }}</h5>
                                <h6 class="card-title muted">{{ post.description }}</h6>
                                <p class="card-text">{{ post.content }}</p>
                                <a href={{ path('app_post', {'id':post.id})}} class="btn btn-primary">Voir plus</a>
                            </div>
                            <div class="card-footer text-muted">Publié le {{ post.date|date('d/m/Y') }} par {{ post.creator.username }}</div>
                        </div>
                    {% endfor %}

                </div>
            </div>

    {% endif %}
{% endblock %}

